FoxNews, http://fnradio-shoutcast-64.ng.akacast.akamaistream.net/7/115/13873/v1/auth.akacast.akamaistream.net/fnradio-shoutcast-64
Classic, http://radio02-cn03.akadostream.ru:8100/classic128.mp3
Высоцкий, http://music.myradio.ua:8000/pesni-vysockogo128.mp3
ЕвропаПлюс, http://webcast.emg.fm:55655/europaplus128.mp3
М-Волна, http://radio02-cn03.akadostream.ru:8114/radiomv192.mp3
Jazz, http://streaming208.radionomy.com:80/A-JAZZ-FM-WEB
